* {
	margin: 0;
}

div.container  div h2 {
	padding: 0;
	text-align: center;
	line-height: 80px;
}

div.container { 
	border: 1px solid #BBBBBB;
	margin: 50px auto;
	background-color: #BBBBBB;
	width: 440px;
	height: auto;
	border-radius: 20px;
}

div.container form div.u {
	margin: 10px 60px 0;
}

div.container form div.p {
	margin: 0 60px;
}

div.container form div.p input {
	margin: 0 0 0 35px;
}

div.container form div.r {
	margin: 0 60px;
}

div.container form div.r input {
	margin: 0 0 0 11px;
}

div.container form button {
	margin: 0 0 0 190px;
}

div.container form a {
	display: block;
	margin: 7px 0 15px 195px;
}


